/*重置默认样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

body {
    text-align: center;
    padding: 250px 180px 50px 180px;
}

/* 页面加载时隐藏 */
body {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

/* 页面加载后显示，防止 `hover` 失效 */
body.show-content {
    opacity: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

/*导航*/
.navbar {
    display: flex;
    justify-content: space-between; /* 左中右分布 */
    align-items:end;
    position: fixed;

    padding: 25px 35px;
    top: 0;
    left: 0;

    width: 100%;
    height: 150px;

    background-color:; 
}

.topleft {
    display: flex;
    align-items: center;

    height: 100px; /*左上角框大小*/
    gap: 70px;

    background-color:;
}

.logo {
    display: inline-block;
    height: 100%;
    width:auto;
    position:relative;
}

.logo a {
    display: inline-block;
    width: auto;
    height: 100%;
    position: relative;
}

.logo a .logo_default {
    display: block;
    width: auto;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.logo a .logo_hover {
    position: absolute;
    top: 0;
    left: 0;
    width:auto;
    height:100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.logo a:hover .logo_hover {
    opacity: 1}

.logo a:hover .logo_default {
    opacity: 1}

.topleft a {
    font-size: 100px; /*左上角文字大小*/
}

.topright {
    display: flex;
    align-items:baseline;
    gap: 0;
    margin-bottom: 30px;
}

.topright a {
    position: relative;
    font-size: 20px; /*右上角文字大小*/
    font-weight: 600;
}

.topright a span {
    display: inline-block;
    position: relative;
    padding:0 20px;
    line-height: 1;
}

.topright a span:not([data-type="selected"])::after {
    content: "";
    position: absolute;
    z-index: -1;

    left: 0;
    top: 130%;
    width: 100%;
    height: 60%;
    transform: scaleY(calc(10/60));
    transform-origin: top;

    background-color: black;
}

.topright a span[data-type="selected"]::after{
    content: "";
    position: absolute;
    z-index: -1;

    left: 0;
    top: 130%;
    width: 100%;
    height: 60%;
    transform: scaleY(calc(60/60));
    transform-origin: top;

    background-color: black;
}

.topright a span:hover::after{
    transform: scaleY(calc(60/60));
    background-color: hwb(225 0% 0%);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


/*悬停*/
.topleft a {
    position: relative; /*让子元素相对于 a 进行定位*/
    display: inline-block; /*让a标签变为块级，避免旋转时错位*/
}

.topleft a:not(.logo a):hover {
    color: hwb(225 0% 0%);
    transform: rotate(4deg);
}

.topleft a:not(.logo a):after {
    content: "";
    position: absolute;
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;

    background-color: hwb(225 0% 0%);
    transform: scaleX(0);
    transform-origin: left;
}

.topleft a:not(.logo a):hover::after {
    transform: scaleX(1);
}

.topleft a, .topleft a:not(.logo a):hover::after {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s;
}

.content {
    display: flex;
    flex: 1;
    padding: 100px 5%;
    gap: 5%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-left {
    display: flex;
    position: relative;
    padding: 0 35px;
    left: 0;
    top: 0;
    font-weight: bold;
    text-align: left;
    max-width: 200px;
    font-size: 24px;
}

/* 图片网格 */
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.image-grid img {
    width: 200px;
    height: auto;
    cursor: pointer;
}