/*00.整体*/
* {             /*重置默认样式*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    transition: background-color 0.3s ease-in-out;
}

.hover-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hwb(225 0% 0%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -100;
}

/*01.顶部导航*/
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between; /* 左中右分布 */
    align-items:center;
    gap: 2.5vw;

    top: 0;
    left: 0;
    padding: 0px 2vw;

    width: 100%;
    height: 14vh;  /*LAPTOP*/

    z-index: 10;
}

.top-left, .top-right {
    display: flex;
    width: 10.7vw;
}

.top-left {
    display: flex;
    position: relative;
    align-items: center;
    height: 7vh; /*左上角框大小*/
}

.top-left .logo a {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.top-left .logo a img,
.top-left .logo a .logo_default,
.top-left .logo a .logo_hover {
    display: block;
    max-width: 19vw;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.top-left .logo a .logo_hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.top-left .logo a:hover .logo_hover,
.top-left .logo a:hover .logo_default {
    opacity: 1}

.top-mid {
    display: flex;
    position: relative;
    height: 100%;
    flex:1;
}

.top-mid .text-grid {
    display: grid;
    position: relative;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;

    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    text-align: center;
    font-size: 5vw;
}

.top-mid .text-grid a {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.top-mid .text-grid a svg {
    display: flex;
    position: relative;
    place-self: center;

    width: 70%;
    height: 50%;
}

.top-mid .text-grid a span {
    position: relative;
    display: inline-block;
}

.top-mid .text-grid a span:hover {
    color: hwb(225 0% 0%);
    transform: rotate(4deg);
}

.top-mid .text-grid a span::after {
    content: "";
    position: absolute;
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;

    background-color:hwb(225 0% 0%);
    transform: scaleX(0);
    transform-origin: left;
}

.top-mid .text-grid a span:hover::after {
    transform: scaleX(1);
}

.top-mid .text-grid a span, .top-mid .text-grid a span:hover::after {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s;
}


.top-right {
    justify-content: flex-end;
    align-items:baseline;
    gap: 0;
    margin-bottom: 2.5vh;
}

.top-right a {
    position: relative;
    font-size: 1rem; /*右上角文字大小*/
    font-weight: bold;
}

.top-right a span {
    display: inline-block;
    position: relative;
    padding:0 1vw; /*右上角单个语言框大小*/
    line-height: 1;
}

.top-right a span:not([data-type="selected"])::after {
    content: "";
    position: absolute;
    z-index: -1;

    left: 0;
    top: 130%;
    width: 100%;
    height: 60%;
    transform: scaleY(calc(10/60));
    transform-origin: top;

    background-color: black;
}

.top-right a span[data-type="selected"]::after{
    content: "";
    position: absolute;
    z-index: -1;

    left: 0;
    top: 130%;
    width: 100%;
    height: 60%;
    transform: scaleY(calc(60/60));
    transform-origin: top;

    background-color: black;
}

.top-right a span:hover::after{
    transform: scaleY(calc(60/60));
    background-color: hwb(225 0% 0%);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


/*02.BODY部分*/
body {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

body.show-content {
    opacity: 1;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    padding: 18vh 2vw 50px 2vw;
    height: 100vh;
    gap: 2.5vw;
}

/*BODY-侧边*/
.body-left,.body-right {
    display: flex;
    flex-direction: column; 
    position: relative;
    width: 10.7vw;
    justify-content:flex-start;
    align-items:flex-start;

    text-align: left;
    font-size: 2rem; 
}

.body-right {
    display: flex;
    justify-content:flex-start;
    height: 100%;
}

.body-left .nav-left {
    display: flex;
    position: fixed;
    flex-direction: column; 

    text-align: left;
    width: inherit;
    font-size: 2rem;
}

.body-left .nav-left .view-as {
    display: flex;
    flex-direction: column; 
    position:absolute;
    width: 100%;
    line-height: 1.25;
    transition: top 0.3s ease-in-out;
    top: 30.7vw;
}

.body-left .nav-left .view-as a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.body-left .nav-left .view-as a:hover {
    color: hwb(225 0% 0%);
    text-decoration: underline;
}

.body-left .nav-left .view-as a.active {
    text-decoration: underline; /* 选中时添加下划线 */
    font-weight: bold; /* 让选中的项更突出 */
}

.body-left .nav-left .text-left {
    display: flex;
    position:absolute;
    width: inherit;
    font-size: 2rem;
}

.body-right .text-right {
    position: relative;
    text-align: right;
    width: inherit;
    font-size: 2rem;
}

/*BODY-中间*/
.body-mid {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 5vh;

    height: 82vh;
    scroll-behavior: smooth;
}

section {
    min-height: 82vh;
    max-height: 82vh; /* 限制 `section` 高度，防止溢出 */
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start; /* 让 `section` 对齐滚动 */
    margin-bottom: 18vh;
    text-align: center;
}

#showcase {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase-container {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out; /* 平滑切换 */
    scroll-behavior: smooth;
}

.showcase-container a {
    flex: 0 0 100%; /* 确保每张图片占满 `showcase` */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.showcase-container a img {
    /* height=39.75/82, width=(73.6-4)/73.6 */
    max-height: 39.44vw;
    min-height: 25vw; /* 临时的 */
    max-width: 94.56%;
    object-fit: contain;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px;
    padding: 1vh 1.2vh;
    font-size: 1.5rem;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.prev-btn {
    left: 90px;
}

.next-btn {
    right: 90px;
}

.content {
    display: flex;
    flex: 1;
    gap: 5%;
    width: 100%;
    box-sizing: border-box;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.image-grid .container {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.image-grid .container .img,
.image-grid .container .hoverarea {
    max-width: 100%;
    max-height: 70%;
    cursor: pointer;
    position: absolute;
    object-fit: scale-down;
    place-self: center;
    z-index: 0;
}

.image-grid .container .hoverarea {
    z-index: 2;
    opacity: 0;
}

.image-grid .container .overlay {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 87%;
    height: 87%;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.image-grid .container .dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background-color: hwb(225 0% 0%);
    border-radius: 50%;
    place-self: center;
}

.image-grid .container .overlay .text1 {
    position: absolute;
    top: 0;
    left: 0;

    color: hwb(225 0% 0%);
    font-size:2rem;
    line-height: 1;
    text-align: left;
}

.image-grid .container .overlay .text2 {

    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg) translateX(100%);
    transform-origin: bottom right;

    color: hwb(225 0% 0%);
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1;
    text-align: left
}

.image-grid .container .hoverarea:hover ~ .overlay {
    opacity: 1;
}

.medialink,.medialink_hover {
    display: flex;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2.5rem;
    height: 1.6rem;
}

.medialink_hover {
    opacity:0;
}

.medialink a{
    height: inherit;
}

.medialink a img{
    display: inline-block;
    height: inherit;
}

.medialink a img :hover ~ .medialink_hover a img{
    opacity: 100;
}